<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block title %} {% endblock %} </title>
  <style>
        body {
      font-size: 80px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: #000509;
    }
  </style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  {% block css %}

  {% endblock %}
</head>

<body>
  {% include "includes/header.html" %}

  {% block content %} {% endblock %}
  </body>

</html>
