{% extends "layout.html" %}

{% block title %} Search Patient {% endblock %}

{% block css %}
<style>
    .text {
        width: 250px;
        padding: 10px 5px;
        border: none;
        border: solid 1px rgb(37, 62, 99) !important;
        border-radius: 5px;
    }

    table {
        font-size: 14px !important;
    }

    .ubutton {
        padding: 9px 20px !important;
        margin: 3px;
    }

    .dbutton {
        padding: 9px 20px !important;
        margin: 3px;
    }
</style>