header {
    background-color: #427D9D;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DDF2FD;
    height: 100%;
    display: flex;
    /* Direction of the items, can be row or column */
    flex-direction: column;
}


#logo {
    color: rgb(7, 162, 252);
    display: inline-flex;
    position: absolute;
    left: 131px;
}

.body1 {
    background-image: url("../images/090716_stjoes.jpg");
    background-repeat: no-repeat;
    background-position: 0px 100px 0px 100px;
    background-size: 100% ;
    scroll-behavior: auto;
}