{% extends "layout.html" %}

{% block title %} Add Diagnostics {% endblock %}

{% block content %}
<style>
    /* input {
                position: absolute;
                left: 150px;
            }
            
            select {
                position: absolute;
                left: 150px;
            } */
    .form-item {
                display: flex;
                flex-direction: column;
                /* Stack elements vertically */
                margin-bottom: 10px;
                /* Space between each form item */
            }
            label {
                margin-bottom: 5px;
                /* Space between label and input */
                font-weight: bold;
                /* Optional: makes labels bold */
                color: #164863;
                /* Label color */
            }