{% extends "layout.html" %}

{% block title %} Bill Patient {% endblock %}

{% block content %}

<style>
    /* input {
        position: absolute;
      
    
    
   
    } */
    .text {
        width: 250px;
        padding: 10px 5px;
        border: none;
        border: solid 2px rgb(31, 21, 21) !important;
        border-radius: 5px;
    }
    .myTd>td {
        padding: 5px;
    }

    /* .genBill>table {
        width: 100%;
        border-collapse: collapse;
    }