{% extends "layout.html" %}

{% block title %} Bill Patient {% endblock %}

{% block content %}

<style>
    /* input {
        position: absolute;
      
    
    
   
    } */
    .text {
        width: 250px;
        padding: 10px 5px;
        border: none;
        border: solid 2px rgb(31, 21, 21) !important;
        border-radius: 5px;
    }
    .myTd>td {
        padding: 5px;
    }

    /* .genBill>table {
        width: 100%;
        border-collapse: collapse;
    }
    .genBill>table tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    .genBill>table tr:nth-child(even) {
        background-color: white;
    } */
    .genBill table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .genBill table tr:nth-child(odd) {
        background-color: #f2f2f2;
        /* Color for odd rows */
    }
    .genBill table tr:nth-child(even) {
        background-color: white;
        /* Color for even rows */
    }
    .genBill table th {
        background-color: #c3e5ee;
        color: #164863 !important;

    }
    .finalGenRow {
        background-color: #164863 !important;
        color: white !important;
    }
    .genbillContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .genbillContainer span {
        width: 50rem;
        margin-bottom: 2rem;
    }
    .genbillContainer h1 {
        margin: 0px;
        margin-top: 1rem;
    }