{% extends "layout.html" %}

{% block title %} Account Status {% endblock %}

{% block content %}
<style>
    /* input {
                position: absolute;
                left: 150px;
            }
            select {
                position: absolute;
                left: 150px;
            } */
    /* 
    .registerPatient {
        display: flex;
        flex-wrap: wrap;
    }
    .form-item {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
    } */
    .registerPatient {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        margin: auto;
        padding-left: 4rem;
    }
    .form-item {
        flex: 0 0 50%;
        margin-bottom: 10px;
    }