{% extends "layout.html" %}

{% block title %} Search Patient {% endblock %}
{% block css %}
<style>
    .container {
        width: 90%;
        margin: auto;
        margin-top: 100px;
    }
    .text {
        width: 250px;
        padding: 10px 5px;
        border: none;
        border: solid 2px rgb(31, 21, 21) !important;
        border-radius: 5px;
    }
    .flex-row {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .button,
    .rbutton {
        padding: 8px 15px;
        margin: 0;
    }
    .ibutton {
        padding: 9px 20px !important;
        margin: 3px;
    }
    
    .text {
        padding: 8px;
    }

    .myTd>td {
        padding: 5px;
    }
</style>
{% endblock %}
{% block content %}
