{% extends "layout.html" %}

{% block title %} Search Patient {% endblock %}
{% block css %}
<style>
    .container {
        width: 90%;
        margin: auto;
        margin-top: 100px;
    }
    .text {
        width: 250px;
        padding: 10px 5px;
        border: none;
        border: solid 2px rgb(31, 21, 21) !important;
        border-radius: 5px;
    }
    .flex-row {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .button,
    .rbutton {
        padding: 8px 15px;
        margin: 0;
    }
    .ibutton {
        padding: 9px 20px !important;
        margin: 3px;
    }
    
    .text {
        padding: 8px;
    }

    .myTd>td {
        padding: 5px;
    }
</style>
{% endblock %}
{% block content %}

<div class="container">
    <div>
        <h1 style="color: #164863;"> Patient Status </h1>

         <!-- <form action="" method="POST">
            <label for="id" style="font-weight: bold; font-size: larger; color: #164863;">Patient ID</label>
            &nbsp;&nbsp;
            <input type="text" class="text" name="id" id="id"><br><br>
            <button class="button" type="submit">Search</button> <br><br>
        </form>
         <form action="{{ url_for('PharmacistPatientDetails') }}">
            <button type="submit" class="rbutton" value="Refresh the list">Reset</button>
        </form> -->

        <div class="flex-row">
            <form action="" method="POST" class="flex-row">
                <label for="id" style="font-weight: bold; font-size: larger; color: #164863;">Patient ID</label>
                <input type="text" class="text" name="id" id="id">
                <button class="button" type="submit">Search</button>
            </form>
            <form action="{{ url_for('PharmacistPatientDetails') }}">
                <button type="submit" class="rbutton" value="Refresh the list">Reset</button>
                <button type="submit" class="rbutton" value="Refresh the list">Reset</button>
            </form>
        </div>
    </div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p styles="colour: rgb(248, 11, 11);text-align: left;"> <strong>{{ msg }}</strong> </p>
{% endfor %}
{% endif %}
{% endwith %}


